body {background-color: rgba(220, 20, 120, 0.897);
color: #000000; 
font-size: 40px; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
justify-items: center;
text-align: center;

text-align: center;
}

.imagem-cabecalho{
    width: 5px ;
}