body {background-color: rgba(252, 0, 0, 0.897);
color: #080202; 
font-size: 40px; 
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
justify-content: center;
justify-items: center;
text-align: center;

text-align: center;
}

.imagem-cabecalho{
    width: 500px ; }
    .titulo-cabecalho
{display: inline-block;
 margin:0 16px 0;
 padding: 100px 0;
font-size: 40px;}
.cabecalho {
    background-color: rgb(12, 3, 20); 
    color: aliceblue;
    display: flex;
    justify-content: space-around;
    padding:  24pX 0;}
.cabecalho-item 
{display: inline-block;
margin: 0 16px ;
padding: 24px 0;
font-size: 24px ;} 

.escola-imagem{  
 width: 25%;
}

