body { background-color: rgb(245, 233, 233);
    color: rgb(10, 10, 1);
    font-size: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    justify-content: center;
    justify-items: center;
    text-align: center;
} .imagem-cabecalho{width: 200px;}

.titulocabecalho
{display: inline-block;
  margin:0 16px;
  padding: 100px 0;
  font-size: 40px;}

.escola-titulo{
  font-size:50px;
}


  .cabecalho {background-color: rgb(255, 0, 0);
color: rgb(3, 3, 3);
display: flex;
justify-content: space-around; 
padding: 20px 0;}

.cabecalho-itens
{display: inline-block;
margin: 0 16px;
padding: 24px 0;
font-size: 24px;}

.escola-imagem
{width: 50%;}

.escola{
  background-image: linear-gradient(red,rgb(211, 202, 202));
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;}


  .escola-conteudo{
    width: 50%
  }

  .escola-titulo
  {padding: 50px 30px;
font-family: cursive;
  }
   .aluno-um{ 
    width: 40%;
    height: 220px;
   }


   .estudante-titulo
   { 
    text-align:center ;
    padding: 50px;
    font-size: 30px;
   }

    .estudante-div {  
  text-align: center;
  }
  .estudante-todos {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
  }